body {
    background-color: black;
    color: white;
}



img {
    width: 10%;
    background-position: 10rem;
}

h1 {
    color: gray;
    font-size: 40px;
}

.micurriculo {
    width: 66%;
}

.pie {
    background-color: black;
    padding: 1%;
    text-align: center;
}

.skill {
    color: green;
}

a {
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: white;
    background-color: black;
    text-decoration: none;
}